{% extends 'templatePanier.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
    <div class="container">
        <h1>Payment Success!</h1>
        <p>Thank you for your purchase.</p>
    </div>
{% endblock %}
